1. Tell me about youself and your projects you have done?
2. What is python executing mode and diffrence between python and anyother language?
4. Write a python program if the key is present in dict then it will print key is present otherwise it will append in it.
6. How to delete a file in python?
7. Diffrence between ittreable and generator?
8. What is the use of self?
24. What is the diffrent between python v2 and python v3
25. what is pep8?
26. have you deal ith json file?
27. diffrence between pickling and unpickling?
28. what is the use of global keyword in python?
30. in view.py class?
32. have you done any web scrapping?

### 2. What is python executing mode and diffrence between python and anyother language?
1. Interactive mode (executing one by one instructions on command)
2. Script mode (executing file with the code command)

### 3. Data structures in python
- Lists are used to store data of different data types in a sequential manner. Let us now understand lists better with the help of an example program.

In [ ]:
#### create lest
- my_list = [] #create empty list
- my_list = [1, 2, 3, 'example', 3.132] #creating list with data
#### Add element
- my_list.append([555, 12]) #add as a single element -> [1, 2, 3, 'example', 3.132,[555, 12]]
- my_list.extend([234, 'more_example']) #add as different elements  -> [1, 2, 3, 'example', 3.132,234, 'more_example']
- my_list.insert(1, 'insert_example') #add element i -> [1, 'insert_example', 2, 3, 'example', 3.132]
#### delete element
- del my_list[5] #delete element at index 5
- my_list.remove('example') #remove element with value
- a  = my_list.pop(1) #pop element from list [bydefault delet last element if no index specified]
- my_list.clear() #empty the list

- Dictionaries are used to store key-value pairs. Let us understand this better with an example program.

In [ ]:
my_dict = {} #empty dictionary
my_dict = {1: 'Python', 2: 'Java'} #dictionary with elements
my_dict = {'First': 'Python', 'Second': 'Java'}
my_dict['Second'] = 'C++' #changing element
my_dict['Third'] = 'Ruby' #adding key-value pair
a = my_dict.pop('Third') #pop element [removie third]
b = my_dict.popitem() #pop the key-value pair [removie last i.e second]
my_dict.clear() #empty dictionary
print(my_dict['First']) #access elements using keys
print(my_dict.get('Second'))
#### other function
print(my_dict.keys()) #get keys
print(my_dict.values()) #get values
print(my_dict.items()) #get key-value pairs
print(my_dict.get('First'))

- Tuples are the same as lists are with the exception that the data once entered into the tuple cannot be changed no matter what. The only exception is when the data inside the tuple is mutable, only then the tuple data can be changed. The example program will help you understand better.
- built-in immutable sequence.
- If no argument is given, the constructor returns an empty tuple.
- If iterable is specified the tuple is initialized from iterable's items.

In [ ]:
#### Creating a Tuple
- my_tuple = (1, 2, 3) #create tuple
#### access elements
my_tuple2 = (1, 2, 3, 'edureka') 
for x in my_tuple2:
    print(x)
print(my_tuple2)
print(my_tuple2[0])
print(my_tuple2[:])
print(my_tuple2[3][4])
my_tuple = (1, 2, 3)
my_tuple = my_tuple + (4, 5, 6) #add elements
#### Othe function
my_tuple = (1, 2, 3, ['hindi', 'python'])
my_tuple[3][0] = 'english'
print(my_tuple)
print(my_tuple.count(2))
print(my_tuple.index(['english', 'python']))

- Sets are a collection of unordered elements that are unique. Meaning that even if the data is repeated more than one time, it would be entered into the set only once. It resembles the sets that you have learnt in arithmetic. The operations also are the same as is with the arithmetic sets. An example program would help you understand better.

In [ ]:
my_set = {1, 2, 3, 4, 5, 5, 5} #create set
my_set.add(4) #add element to set
#### set Opretions
my_set = {1, 2, 3, 4}
my_set_2 = {3, 4, 5, 6}
print(my_set.union(my_set_2), '----------', my_set | my_set_2)
print(my_set.intersection(my_set_2), '----------', my_set & my_set_2)
print(my_set.difference(my_set_2), '----------', my_set - my_set_2)
print(my_set.symmetric_difference(my_set_2), '----------', my_set ^ my_set_2)
my_set.clear()
print(my_set)

### 3. What is diffrence in set & tupal & list?

### 5. How to mearge 2 list as kiy value create dictnary

In [9]:
k=['python','java','c']
v=[1,2,3]
# op = list(zip(k,v))
# op = tuple(zip(k,v))
op = dict(zip(k,v))
# op = {i:j for (i,j) in zip(k,v)}
op

{'python': 1, 'java': 2, 'c': 3}

### 6. display the capital latters

In [2]:
test_str = "MyNameIsSachin"
print([char for char in test_str if char.isupper()])
print("selcted chars :- "+" ".join([char for char in test_str if char.isupper()]))

['M', 'N', 'I', 'S']
selcted chars :- M N I S

### 7. Assing maltipal variables

In [3]:
a=10,20,30
print(a)
a,b,c = 10,20,30
print(a,b,c)

(10, 20, 30)
10 20 30

### 8. canvart list of list in singal list

In [4]:
p=[[1,2,3],[4,5,6]]
[j for i in p for j in i]

[1, 2, 3, 4, 5, 6]

### 9. find valid emails

In [11]:
import re

emails = ['qwe@gmail.com','asd@yahoo.com','zxc@gmail,com','qws@qwe@.in','qwsx!sde.com']
#list(filter(lambda str:(str.find('@')>0)and(str.find('.')>0),emails))

regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b'
def check(email):
    if(re.fullmatch(regex, email)):
        print("Valid Email")
    else:
        print("Invalid Email")
        
check('qws@qwe@.in')

Invalid Email

### 10: list of dictionary sort by age.

In [6]:
lis = [{ "name" : "Nandini", "age" : 20},{ "name" : "Manjeet", "age" : 20 },{ "name" : "Nikhil" , "age" : 19 }]

print ("The list printed sorting by age: ")
print (sorted(lis, key = lambda i: i['age']))

print ("The list printed sorting by age and name: ")
print (sorted(lis, key = lambda i: (i['age'], i['name'])))

print ("The list printed sorting by age in descending order: ")
print (sorted(lis, key = lambda i: i['age'],reverse=True))

The list printed sorting by age:
[{'name': 'Nikhil', 'age': 19}, {'name': 'Nandini', 'age': 20}, {'name': 'Manjeet', 'age': 20}]
The list printed sorting by age and name:
[{'name': 'Nikhil', 'age': 19}, {'name': 'Manjeet', 'age': 20}, {'name': 'Nandini', 'age': 20}]
The list printed sorting by age in descending order:
[{'name': 'Nandini', 'age': 20}, {'name': 'Manjeet', 'age': 20}, {'name': 'Nikhil', 'age': 19}]

### 11: convert multiple list into single

In [7]:
list_1 = ["This" , "is", "a", "sample", "program"]
list_2 = [10, 2, 45, 3, 5, 7, 8, 10]

final_list = list_1 + list_2
print(final_list)

# list_1.extend(list_2)
# print(list_1)

# final_list = [*list_1, *list_2]
# print(final_list)

['This', 'is', 'a', 'sample', 'program', 10, 2, 45, 3, 5, 7, 8, 10]

### 12: find even and odd number and sum of element in the list

In [8]:
test_list = [1, 2, 3, 4, 5, 6]
odd_sum = 0
even_sum = 0

# for sub in test_list:
#    odd_sum += sum([int(ele) for ele in str(sub) if int(ele) % 2 == 1])
#    even_sum += sum([int(ele) for ele in str(sub) if int(ele) % 2 == 0])

odd_sum = sum( ele for ele in test_list if ele % 2 == 1)
even_sum = sum( ele for ele in test_list if ele % 2 ==  0)

# for ele in test_list:
#    if ele % 2 == 0:
#        even_sum += ele
#    else:
#        odd_sum += ele
print("Odd digit sum : " + str(odd_sum))
print("Even digit sum : " + str(even_sum))

Odd digit sum : 9
Even digit sum : 12

### 13: class and object

In [9]:
class InterviewbitEmployee:
   def __init__(self, emp_name):
       self.emp_name = emp_name
       
   def introduce(self):
       print("Hello I am " + self.emp_name)
# create an object of InterviewbitEmployee class
emp_1 = InterviewbitEmployee("Mr Employee")
print(emp_1.emp_name)    #print employee name
emp_1.introduce()        #introduce the employee

Mr Employee
Hello I am Mr Employee

### 14: Expecting a function to find the numbers divisible by 7 but not multiple of 5 between 2000 and 3200(both included) and printing a result numbers in comma separated new lines.

In [10]:
for i in range(1,6):
    print(i,end=" ")

1 2 3 4 5

In [11]:
def calculet():
    for i in range(2000,3201):
        if (i%7==0) and (i%5!=0):
            print(i,end=", ")
calculet()

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199,

### 15: pyramid

### 17: create class and take two variable and convert into dictionary

In [13]:
class A(object):
    def __init__(self):
        self.b = 1
        self.c = 2
a = A()
a.__dict__

{'b': 1, 'c': 2}

### 18: Remove duplicate element in list/array

In [14]:
sam_list = [11, 13, 15, 16, 13, 15, 16, 11] 
# removing duplicated from the list using list comprehension 
result = [] 
[result.append(x) for x in sam_list if x not in result] 
print ("The list after removing duplicates: " + str(result))

# removing duplicated from the list using set() 
sam_list = [11, 15, 13, 16, 13, 15, 16, 11] 
sam_list = list(set(sam_list)) 
print ("The list after removing duplicates: " + str(sam_list))

The list after removing duplicates: [11, 13, 15, 16]
The list after removing duplicates: [16, 11, 13, 15]

### 19: program to print duplicate numbers in a given list

In [15]:
arr = [1, 2, 3, 4, 2, 7, 8, 8, 3];     
     
print("Duplicate elements in given array: ");    
#Searches for duplicate element    
for i in range(0, len(arr)):    
    for j in range(i+1, len(arr)):    
        if(arr[i] == arr[j]):    
            print(arr[i]);

Duplicate elements in given array:
2
3
8

### 20: Print fibonacci seris

In [16]:
def fibonacci(n):
    if(n<1):
        print('give valid number')
        return
    a=0
    b=1
    print(a,end=" ")
    print(b,end=" ")
    for i in range(2,n):
        c = a + b
        a = b
        b = c
        print(c,end=" ")
#     for i in range(n):
#         print(a,end=" ")
#         a=a+b
#         b=a-b
#         b-a-b
fibonacci(4)

0 1 1 2

### 16: find second smallest element in list or array.

In [17]:
# arr = [11, 10, 13, 17,  34, 21]
# first = arr[0]
# second = arr[1]
# for i in range(0, len(arr)):
#   if arr[i] < first:
#     second = first
#     first = arr[i]
#   elif (arr[i] < second and arr[i] != first):
#     second = arr[i];
# print(second)

arr = [10, 13, 17, 11, 34, 21]
arr.sort();
print(arr[2])

13

### 17: find second largest element in list or array.

In [18]:
# arr = [11, 10, 13, 17,  34, 21]
# first = arr[0]
# second = arr[1]
# for i in range(0, len(arr)):
#   if arr[i] > first:
#     second = first
#     first = arr[i]
#   elif (arr[i] > second and arr[i] != first):
#     second = arr[i];
# print(second)

arr = [10, 13, 17, 11, 34, 21]
# arr.sort();
# print(arr[-2])
arr.sort(reverse=True)
print(arr[1])

21

### 18: order descending

In [19]:
vowels = ['e', 'a', 'u', 'o', 'i']
vowels.sort(reverse=True)
print(vowels)

['u', 'o', 'i', 'e', 'a']

### 19: Reverse Dictionary Keys Order Using reversed() + items()

In [20]:
a = {0:'000000',1:'11111',3:'333333',4:'444444'}
# print(a.keys())
print(sorted(a.keys()))
print(reversed(sorted(a.keys())))
list(reversed(sorted(a.keys())))

[0, 1, 3, 4]
<list_reverseiterator object at 0x0000021B8AD86550>

[4, 3, 1, 0]

### 20: Reverse Dictionary Keys and display tuple of list

In [21]:
favAnimal = {
  "John": "Dog",
  "Jane": "Cat",
  "Jerome": "Lion",
  "Jenny": "Dog",
  "Jared": "Giraffe",
  "James": "Dog"
}

# mlist = favAnimal.items()
# print(mlist)

# Reverse each tuple in a list of tuples
myList = [(k, v) for k, v in favAnimal.items()]
#riv = [ele for ele in reversed(myList)]
riv = myList[::-1]
print(riv)

[('James', 'Dog'), ('Jared', 'Giraffe'), ('Jenny', 'Dog'), ('Jerome', 'Lion'), ('Jane', 'Cat'), ('John', 'Dog')]

### 21: changes key value as value key in dictionary.

In [22]:
favAnimal = {v: k for k, v in favAnimal.items()}
print(favAnimal)

{'Dog': 'James', 'Cat': 'Jane', 'Lion': 'Jerome', 'Giraffe': 'Jared'}

### 22: Python3 program to find the a contiguous pair from the which has the largest sum

In [23]:
arr = [11, 10, 13, 17,  34, 21]
if arr[0] > arr[1]:
    first = arr[0]
    second = arr[1]
else:
    first = arr[1]
    second = arr[0]
for i in range(2, len(arr)):
    if arr[i] > first:
        second = first
        first = arr[i]
    elif arr[i] > second and arr[i] != first:
        second = arr[i]
print("Max Pair Sum is",first+second)

Max Pair Sum is 55

### 23: # addition of two number using lambda

In [24]:
a = lambda x, y: x + y
# result = a(10, 20)
print("Sum is:",  a(10, 20))

Sum is: 30

### 24: Reverse the string “hello world” [slicing]

In [25]:
txt = "Hello World"[::-1]
print(txt)

dlroW olleH

### 25: remove duplicate character from string

In [26]:
foo='mppmt'
''.join(set(foo))

'tpm'

### 26: check valid form form date like dd/mm/yyyy

In [27]:
import datetime
def validate(date_text):
    try:
        datetime.datetime.strptime(date_text, '%d/%m/%Y')
    except ValueError:
        raise ValueError("Incorrect data format, should be DD/MM/YYYY")

# validate('22-10-1991')
validate('22/10/1991')

### 27: Program to multiply two matrices using list comprehension

In [30]:
# 3x3 matrix
X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]
# 3x4 matrix
Y = [[5,8,1],
    [6,7,3],
    [4,5,9]]

# Program to multiply two matrices using list comprehension
# result = [[sum(a*b for a,b in zip(X_row,Y_col)) for Y_col in zip(*Y)] for X_row in X]

# # result is 3x4
# result = [[0,0,0,0],
#          [0,0,0,0],
#          [0,0,0,0]]

# # Program to multiply two matrices using nested loops
# # iterate through rows of X
# for i in range(len(X)):
#    # iterate through columns of Y
#    for j in range(len(Y[0])):
#        # iterate through rows of Y
#        for k in range(len(Y)):
#            result[i][j] += X[i][k] * Y[k][j]

# result= np.dot(X,Y)

# for r in result:
#    print(r)

### 28:  Have you done any program in decorator, what is dacorator, where we use it and example.
- Error hanadle with the help decorator 
- Decorators in Python are essentially functions that add functionality to an existing function in Python without changing the structure of the function itself. They are represented the @decorator_name in Python and are called in a bottom-up fashion.

In [31]:

def Error_Handler(func):
    def Inner_Function(*args, **kwargs):
        try:
            func(*args, **kwargs)
        except TypeError:
            print(f"{func.__name__} wrong data types. enter numeric")
    return Inner_Function
@Error_Handler
def Mean(a,b):
    print((a+b)/2)
     
@Error_Handler
def Square(sq):
    print(sq*sq)

@Error_Handler
def Divide(l,b):
    print(b/l)
     
Mean(4,5)
Square(14)
Divide(8,4)
Square("three")
Divide("two","one")
Mean("six","five")

4.5
196
0.5
Square wrong data types. enter numeric
Divide wrong data types. enter numeric
Mean wrong data types. enter numeric

### 29: string to lowercase and uppercase using decorator

In [32]:
def lower_output(func):
    def wrapper(*args, **kwargs):
        return func(*args, **kwargs).lower()
    return wrapper

@lower_output
def get_breed(str):
    return str

print(get_breed('TeRrIer'))

terrier

### 30: Diffrence between shallow copy and hard copy?
- Deep copy is a process in which the copying process occurs recursively. It means first constructing a new collection object and then recursively populating it with copies of the child objects found in the original. In case of deep copy, a copy of object is copied in other object. It means that any changes made to a copy of object do not reflect in the original object. In python, this is implemented using “deepcopy()” function.
- A shallow copy means constructing a new collection object and then populating it with references to the child objects found in the original. The copying process does not recurse and therefore won’t create copies of the child objects themselves. In case of shallow copy, a reference of object is copied in other object. It means that any changes made to a copy of object do reflect in the original object. In python, this is implemented using “copy()” function.

In [33]:

import copy
li1 = [1, 2, 3,5, 4]
li2 = copy.deepcopy(li1)
li3 = copy.copy(li1)

### 31: is String palindrom or not

In [34]:
a='abcde'
b=a[::-1]
if a==b:
  print("palindrome")
else:
  print("Not a Palindrome")

Not a Palindrome

### 32: pick the random carater for the list from the given list

In [35]:
import random

l = [0, 1, 2, 3, 4]

print(random.sample(l, 5))
print(random.choice(l))
print(random.randrange(20, 50, 3))

[0, 3, 1, 4, 2]
2
20

### 33: count the duplicate charecter from string print output in the form of kays and values

In [36]:
# import collections
# import pprint
# with open("test.txt", 'r') as data:
#  count_data = collections.Counter(data.read().upper())
#  count_value = pprint.pformat(count_data)
# print(count_value)

text = 'Mary had a little lamb'
#chars = defaultdict(int)
chars = {'a':0}

for char in text:
    if char in chars:
        chars[char] += 1
    else:
        chars[char]=1
    
print(chars)

{'a': 4, 'M': 1, 'r': 1, 'y': 1, ' ': 4, 'h': 1, 'd': 1, 'l': 3, 'i': 1, 't': 2, 'e': 1, 'm': 1, 'b': 1}

### 34: What is slicing in Python?

In [37]:
#Syntax for slicing is [start : stop : step]
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[2 : 5])
# print(numbers[  : 3])
# print(numbers[2 : ])
# print(numbers[  : : 2])
# print(numbers[1 : : 2])
# print(numbers[  : : -1])
# print(numbers[  : : -2])
# print(numbers[1 :  : -2])
# print(numbers[6 : 1 : -1])

[2, 3, 4]

### 35 Write a program in Python to produce Star triangle.

In [38]:
def pyfunc(n):
    for i in range(n):
        print(' '*(n-i-1)+'*'*(2*i+1))    
pyfunc(5)
print('---------- 1 -----------')
def pyfunc(n):
    for i in range(n):
        print('*'*i)  
pyfunc(5)
print('---------- 2 -----------')
def pyfunc(n):
    for i in range(n):
        print(' '*(n-i)+' *'*i)  
pyfunc(5)
print('---------- 3 -----------')
def pyfunc(n):
    for x in range(r):
        print(' '*(r-x)+' *'*x) 
    for x in range(r):
        print(' '*x+' *'*(r-x))
pyfunc(5)

    *
   ***
  *****
 *******
*********
---------- 1 -----------

*
**
***
****
---------- 2 -----------

     *
    * *
   * * *
  * * * *
---------- 3 -----------

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *