In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [2]:
import pyspark.sql.functions as f
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practice').getOrCreate()

1. create dataframe.
2. how to insert new column in dataframe.
3. how to merge or join two dataframe.
4. How to concat dataframe.
5. What will be the out put of inner and outer join.
6. How to select the recors based on praority.
7. how to Canvert Columns to Rows.  
8. how to split string into columns.
9. how to find diff in current record and privius record.
10. customer['cid','name','city','state'] order['oid','cid','itam','price'] find the custimer from 'Mumbai' who has minimam orders.
11. RDDs vs. Dataframes in PySpark.
12. What are workers, executors, cores in Spark Standalone cluster?
13. find third higest salary
16. how can we add a column in panada dataframe
17. what are the task you have done in your machine learning project.
18. in linear regression what do you mean by gradient decent? what do you mean by global minima.
19. what is overfitting and underfitting?
20. in logestic regression what is the default threshold value?
21. what do you mean by confussion metrix?
22. what is precession and recall?
23. what is AUC and RUC curve?
34. discribe the ways to combine 2 dataframe.

### 1. create dataframe.

In [8]:
# Multidymentional array
# data = [['tom', 10], ['nick', 15], ['juli', 14]]
# df = pd.DataFrame(data, columns = ['Name', 'Age'])
# df

# Creating DataFrame from dict of narray/lists
# data = {'Name':['Tom', 'nick', 'krish', 'jack'],'Age':[20, 21, 19, 18]}
# df = pd.DataFrame(data)
# df

# Creates a indexes DataFrame using arrays.
# data = {'Name':['Tom', 'nick', 'krish', 'jack'],'Age':[20, 21, 19, 18]}
# df = pd.DataFrame(data, index =['rank1','rank2','rank3','rank4'])
# df

# Creating Dataframe from list of dicts
# data = [{'a': 1, 'b': 2, 'c':3},{'a':10, 'b': 20, 'c': 30}]
# df = pd.DataFrame(data)
# df

# Creating DataFrame using zip() function.
# Name = ['tom', 'krish', 'nick', 'juli'] 
# Age = [25, 30, 26, 22] 
# list_of_tuples = list(zip(Name, Age)) 
# print(list_of_tuples)  
# df = pd.DataFrame(list_of_tuples,columns = ['Name', 'Age']) 
# df 

# Creating DataFrame from Dicts of series.
# d = {'one' : pd.Series([10, 20, 30, 40],index =['a', 'b', 'c', 'd']),
#       'two' : pd.Series([10, 20, 30, 40],index =['a', 'b', 'c', 'd'])}
# df = pd.DataFrame(d)
# df

# Creating DataFrame from Dicts of series.
d = [10,20,30]
ds = [110,120,130]
df = pd.DataFrame({'data':d,'d*100':ds})
df

   data  d*100
0    10    110
1    20    120
2    30    130

In [19]:
# df = spark.createDataFrame([['1a','1b','1c'],['2a','2b','2c'],['3a','3b','3c']], schema='a string, b string, c string')
# df.show()

### 2. how to insert new column in dataframe.

In [1]:
df['d']=['1d','2d','3d']
df

NameError: name 'df' is not defined

### 3. how to merge or join two dataframe

In [10]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']}) 

pd.merge(left,right,how='inner',on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [11]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])
#left.join(right)
left.join(right, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

### 4. How to concat dataframe.

In [12]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])
#pd.concat([df1,df2,df3])
#pd.concat([df1,df2])
pd.concat([df1,df2],axis=1)
#df1.append(df2)

     A    B    C    D    A    B    C    D
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2  NaN  NaN  NaN  NaN
3   A3   B3   C3   D3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   A4   B4   C4   D4
5  NaN  NaN  NaN  NaN   A5   B5   C5   D5
6  NaN  NaN  NaN  NaN   A6   B6   C6   D6
7  NaN  NaN  NaN  NaN   A7   B7   C7   D7

### 5. What will be the out put of inner and outer join

In [13]:
# input:
#   left               right                      
#  id,name            id,name                  
#  1,  A              1,  C                        
#  1,  B              1,  D                        
#  2,  E              3,  F                         


# USING SQL
# select l.id,l.fname,r.id,r.fname from tb_left as l INNER JOIN tb_right as r on l.id=r.id;
# Output:
# 1	B	1	C
# 1	A	1	C
# 1	B	1	D
# 1	A	1	D

# SELECT * FROM tb_left as l left join tb_right as r on l.id=r.id
# UNION
# SELECT * FROM tb_left as l right join tb_right as r on l.id=r.id;
# 1	A	1	D
# 1	A	1	C
# 1	B	1	D
# 1	B	1	C
# 2	E		
# 		3	F
 
print("----- USING PANDAS-----")
left = pd.read_csv('left.csv')
right = pd.read_csv('right.csv')

print(pd.merge(left,right,how='inner',on='id'))
# print(pd.merge(left,right,how='outer',on='id'))
# print(pd.merge(left,right,how='left',on='id'))
# print(pd.merge(left,right,how='cross'))

print("----- USING PYSPARK-----")
left = spark.read.csv('left.csv',header=True,inferSchema=True)
right = spark.read.csv('right.csv',header=True,inferSchema=True)
# left.show()
# right.show()
left.join(right,left.id == right.id,"inner").show()
# left.join(right,left.id == right.id,"outer").show()
# left.join(right,left.id == right.id,"left").show()

----- USING PANDAS-----
   id name_x name_y
0   1      A      C
1   1      A      D
2   1      B      C
3   1      B      D
----- USING PYSPARK-----
+---+----+---+----+
| id|name| id|name|
+---+----+---+----+
|  1|   A|  1|   D|
|  1|   A|  1|   C|
|  1|   B|  1|   D|
|  1|   B|  1|   C|
+---+----+---+----+

### 6. How to select the recors based on praority

In [14]:
# USING SQL
# select *,min(praority) from emp group by (fname);
# SELECT * FROM (SELECT *, RANK() OVER(PARTITION BY fname ORDER BY praority) AS r FROM emp) sub WHERE r = 1;  

print("----- USING PANDAS-----")
df = pd.read_csv('test1.csv')
print(df[df.source_praority == df.source_praority.min()])

print("----- USING PYSPARK-----")
from pyspark.sql.window import Window
from pyspark.sql.functions import col, row_number

df = spark.read.csv('test1.csv',header=True,inferSchema=True)

# windowDept = Window.partitionBy("fname").orderBy(col("source_praority").desc())
windowDept = Window.partitionBy("fname").orderBy("source_praority")

df.withColumn("row",row_number().over(windowDept)).filter(col("row") == 1).drop("row").show()

----- USING PANDAS-----
   id fname    sal sal_source  source_praority
0   1     A  11000          X                1
2   2     B  14000          X                1
4   3     C  15000          Y                1
----- USING PYSPARK-----
+---+-----+-----+----------+---------------+
| id|fname|  sal|sal_source|source_praority|
+---+-----+-----+----------+---------------+
|  1|    A|11000|         X|              1|
|  2|    B|14000|         X|              1|
|  3|    C|15000|         Y|              1|
+---+-----+-----+----------+---------------+

### 7. how to Canvert Columns to Rows.

In [15]:
# USING SQL
# SELECT * FROM (
#     SELECT id, fname, 'NA' as country, NA as exp FROM emp1
#     UNION 
#     SELECT id, fname,'SA' as country, SA as exp FROM emp1
#     UNION 
#     SELECT id, fname,'USA' as country, USA as exp FROM emp1
#     ) AS Example;

print("----- USING PANDAS-----")
df = pd.read_csv('test2.csv')
# df=pd.DataFrame({'id':[1,2,3],'fname':['A','B','C'],'NA':[11000,11100,11300],
# 'SA':[12000,11500,12400],'USA':[12500,13500,12200]})

print(df.melt(id_vars=["id", "fname"], 
        var_name="Country", 
        value_name="Exp"))

print("----- USING PYSPARK-----")
import pyspark.sql.functions as F
df = spark.read.csv('test2.csv',header=True,inferSchema=True)

def to_long(df, by):

    # Filter dtypes and split into column names and type description
    cols, dtypes = zip(*((c, t) for (c, t) in df.dtypes if c not in by))
    # Spark SQL supports only homogeneous columns
    assert len(set(dtypes)) == 1, "All columns have to be of the same type"

    # Create and explode an array of (column_name, column_value) structs
    kvs = F.explode(F.array([
      F.struct(F.lit(c).alias("key"), F.col(c).alias("val")) for c in cols
    ])).alias("kvs")

    return df.select(by + [kvs]).select(by + ["kvs.key", "kvs.val"])

outDF = to_long(df, ["id","fname"])
outDF.show()



# df = df.withColumn('label1', F.array(F.lit('NA'), F.col('NA')))
# df = df.withColumn('label2', F.array(F.lit('SA'), F.col('SA')))
# df = df.withColumn('label3', F.array(F.lit('USA'), F.col('USA')))
# # df.show()

# # Create a new column which combines the labeled values in a single column
# df = df.withColumn('labels', F.array('label1', 'label2', 'label3'))
# # df.show()

# # Split into individual rows
# df = df.withColumn('labels', F.explode('labels'))
# # df.show()

# # You can now do whatever you want with your labelled rows, eg. split them into new columns
# df = df.withColumn('Country', F.col('labels')[0])
# df = df.withColumn('EXP', F.col('labels')[1])
# # df.show()
# df.select(['id','fname','Country','Exp']).show()

----- USING PANDAS-----
   id fname Country    Exp
0   1     A      NA  11000
1   2     B      NA  11100
2   3     C      NA  11300
3   1     A      SA  12000
4   2     B      SA  11500
5   3     C      SA  12400
6   1     A     USA  12500
7   2     B     USA  13500
8   3     C     USA  12200
----- USING PYSPARK-----
+---+-----+---+-----+
| id|fname|key|  val|
+---+-----+---+-----+
|  1|    A| NA|11000|
|  1|    A| SA|12000|
|  1|    A|USA|12500|
|  2|    B| NA|11100|
|  2|    B| SA|11500|
|  2|    B|USA|13500|
|  3|    C| NA|11300|
|  3|    C| SA|12400|
|  3|    C|USA|12200|
+---+-----+---+-----+

### 8. how to split string into columns.

In [16]:

print("----- USING PANDAS-----")
data = {'id': [1, 2],'names': ["Tom,Rick,Hardy", "Ritu,Shalini,Anjana"]}
df = pd.DataFrame(data)
# print(df)
df_melt = df.assign(names=df.names.str.split(","))
# print(df_melt)
# df_lt = df_melt.names.apply(pd.Series)
# print(df_lt)
# print(df_melt.names.apply(pd.Series).merge(df_melt, right_index = True, left_index = True))
print(df_melt.names.apply(pd.Series) \
   .merge(df_melt, right_index = True, left_index = True) \
   .drop(["names"], axis = 1) \
   .melt(id_vars = ['id'], value_name = "names"))

print("----- USING PYSAPRK-----")

df = spark.read.csv('test3.csv',header=True, inferSchema=True)


# split_col = f.split(df['names'], ',')
# df = df.withColumn('NAME1', split_col.getItem(0))
# df = df.withColumn('NAME2', split_col.getItem(1))
# df = df.withColumn('NAME3', split_col.getItem(2))
# df.show() 

df.select(
        "id",
        f.split("names", ",").alias("names"),
        f.posexplode(f.split("names", ",")).alias("pos", "val")
    ).show()

----- USING PANDAS-----
   id variable    names
0   1        0      Tom
1   2        0     Ritu
2   1        1     Rick
3   2        1  Shalini
4   1        2    Hardy
5   2        2   Anjana
----- USING PYSAPRK-----
+---+--------------------+---+-------+
| id|               names|pos|    val|
+---+--------------------+---+-------+
|  1|  [Tom, Rick, Hardy]|  0|    Tom|
|  1|  [Tom, Rick, Hardy]|  1|   Rick|
|  1|  [Tom, Rick, Hardy]|  2|  Hardy|
|  2|[Ritu, Shalini, A...|  0|   Ritu|
|  2|[Ritu, Shalini, A...|  1|Shalini|
|  2|[Ritu, Shalini, A...|  2| Anjana|
+---+--------------------+---+-------+

### 9. how to find diff in current record and privius record

In [17]:
# USING SQL
# SELECT id,fname,sal - LAG(sal, 1) OVER (ORDER BY id) FROM emp


print("----- USING PANDAS-----")
df = pd.read_csv('test1.csv')
# df.sort_values(['id','sal'], ascending=[True,True], inplace=True)
# df['shift'] = df.groupby('id')['sal'].shift()
df['shift'] = df['sal'].shift(1)
df['diff'] = df['sal'] - df['shift']
print(df)

print("----- USING PYSPARK-----")
from pyspark.sql.window import Window
import pyspark.sql.functions as F
df = spark.read.csv('test1.csv',header=True,inferSchema=True)

windowOrder = Window.orderBy("sal")
df = df.withColumn("lag", f.lag("sal", 1).over(windowOrder))
df.withColumn("diff",df.sal-df.lag).show()

----- USING PANDAS-----
   id fname    sal sal_source  source_praority    shift    diff
0   1     A  11000          X                1      NaN     NaN
1   1     A  12000          Y                2  11000.0  1000.0
2   2     B  14000          X                1  12000.0  2000.0
3   2     B  13000          Y                2  14000.0 -1000.0
4   3     C  15000          Y                1  13000.0  2000.0
----- USING PYSPARK-----
+---+-----+-----+----------+---------------+-----+----+
| id|fname|  sal|sal_source|source_praority|  lag|diff|
+---+-----+-----+----------+---------------+-----+----+
|  1|    A|11000|         X|              1| null|null|
|  1|    A|12000|         Y|              2|11000|1000|
|  2|    B|13000|         Y|              2|12000|1000|
|  2|    B|14000|         X|              1|13000|1000|
|  3|    C|15000|         Y|              1|14000|1000|
+---+-----+-----+----------+---------------+-----+----+

### 10. customer['cid','name','city','state'] order['oid','cid','itam','price'] find the custimer from 'Mumbai' who has minimam orders.

In [18]:
print("----- USING PANDAS-----")
customer = pd.read_csv('customer.csv')
order = pd.read_csv('order.csv')
group = order[['cid','oid']].groupby('cid').count()
# print(group)
df = pd.merge(customer,group,on='cid')
# print(df)
df1 = df[(df['city']== 'mumbai')]
df1 = df1[df1['oid']==df1['oid'].min()]
print(df1)

print("----- USING PYSPARK-----")
from pyspark.sql.functions import col, row_number
from pyspark.sql.window import Window
customer = spark.read.csv('customer.csv',header=True,inferSchema=True)
order = spark.read.csv('order.csv',header=True,inferSchema=True)
# customer.show()
# order.show()
o_count = order.groupBy('cid').count()
# o_count.show()
df = customer.join(o_count,on='cid',how='inner')
df = df.filter(df['city'] == 'mumbai')
# df.show()
# w3 = Window.orderBy(col("count").desc()) #bigest
w3 = Window.orderBy('count')               #Lowest
df = df.withColumn('row',row_number().over(w3))
df.filter(df['row'] == 1).show()

----- USING PANDAS-----
   cid   name    city         state  oid
3    4  omkar  mumbai  maharashatra    3
----- USING PYSPARK-----
+---+-----+------+------------+-----+---+
|cid| name|  city|       state|count|row|
+---+-----+------+------------+-----+---+
|  4|omkar|mumbai|maharashatra|    3|  1|
+---+-----+------+------------+-----+---+

### 11. RDDs vs. Dataframes in PySpark
#### RDDs
- No in-built optimization engine for RDDs. Developers need to write the optimized code themselves.
- we need to define the schema manually.
- RDD is slower than both Dataframes to perform simple operations like grouping the data.

#### Dataframes
- It uses a catalyst optimizer for optimization.
- It will automatically find out the schema of the dataset.
- It provides an easy API to perform aggregation operations. It performs aggregation faster than both RDDs and Datasets.

### 12. What are workers, executors, cores in Spark Standalone cluster?

DRIVER Program(Spark Contax) <----> Cluster Manager <----> Worker Node[Executer[Task][Cache]]

#### DRIVER

- The driver is the process where the main method runs. First it converts the user program into tasks and after that it schedules the tasks on the executors.

#### EXECUTORS

- Executors are worker nodes' processes in charge of running individual tasks in a given Spark job. They are launched at the beginning of a Spark application and typically run for the entire lifetime of an application. Once they have run the task they send the results to the driver. They also provide in-memory storage for RDDs that are cached by user programs through Block Manager.

#### APPLICATION EXECUTION FLOW

##### when you submit an application to the cluster with spark-submit this is what happens internally:

- A standalone application starts and instantiates a SparkContext instance (and it is only then when you can call the application a driver).
- The driver program ask for resources to the cluster manager to launch executors.
- The cluster manager launches executors.
- The driver process runs through the user application. Depending on the actions and transformations over RDDs task are sent to executors.
- Executors run the tasks and save the results.
- If any worker crashes, its tasks will be sent to different executors to be processed again. In the book "Learning Spark: Lightning-Fast Big Data Analysis" they talk about Spark and Fault Tolerance:
- With SparkContext.stop() from the driver or if the main method exits/crashes all the executors will be terminated and the cluster resources will be released by the cluster manager.

##### options of spark-submit:
- ./bin/spark-submit [--master \<master-url>  --deploy-mode \<deploy-mode> --conf <key<=\<value>  --driver-memory \<value>g --executor-memory \<value>g --executor-cores \<number of cores> --jars  \<comma separated dependencies> --class \<main-class>]

##### exampal of spark-submit:
./bin/spark-submit --master yarn --deploy-mode cluster wordByExample.py

### 13. find third higest salary

In [ ]:
# select * from(select ename, sal, dense_rank() over(order by sal desc)r from Employee) where r=3;
# select * from(select ename, sal, dense_rank() over(partition by department order by sal desc)r from Employee) where r=3;

byDeptOrderByAssetDesc = Window.partitionBy("department").orderBy("assetValue" desc)
df.withColumn("col3", dense_rank().over(byDeptOrderByAssetDesc)).filter("col3=3")