In [1]:
import pymongo
localClient = pymongo.MongoClient('mongodb://127.0.0.1:27017/')
dbEMP = localClient['Employee']         # Employee DB name
callectionInfo = dbEMP.information      # information Collection name
callectionDept = dbEMP.deparment        # deparment Collection name

### Insert single record

In [2]:
record ={
            'fname':'Kumood',
            'lname':'Bongale',
            'dob':'22-10-1990',
            'dept':'It',
            'age':30
        }
callectionInfo.insert(record)

TypeError: 'Collection' object is not callable. If you meant to call the 'insert' method on a 'Collection' object it is failing because no such method exists.

In [3]:
record ={
            'fname':'Kumood',
            'lname':'Bongale',
            'dob':'22-10-1990',
            'dept':'It',
            'age':30
        }
callectionInfo.insert_one(record)

### Insertin maltipal recrds

In [4]:

deptRecords = [
    {
        'code':1,
        'name':'Android',
    },
     {
        'code':2,
        'name':'Backend',
    },
     {
        'code':3,
        'name':'Quality',
    },
     {
        'code':4,
        'name':'UI',
    },
    
]
callectionDept.insert_many(deptRecords)

In [6]:
infoRecords = [
    {
        'fname':'Sachin',
        'lname':'Kakade',
        'dob':'22-10-1991',
        'dept':1,
        'age':30
    },
    {
        'fname':'Omkar',
        'lname':'Potdar',
        'dob':'22-10-1989',
        'dept':4,
        'age':31
    },
    {
        'fname': 'Sagar',
        'lname': 'Mahajan',
        'dob': '22-10-1992',
        'dept':1,
        'age':29
    },
    {
        'fname': 'Kishor',
        'lname': 'Shevkr',
        'dob': '22-10-1990',
        'dept':3,
        'age':30
    },
    {
        'fname':'Kumood',
        'lname':'Bongale',
        'dob':'22-10-1988',
        'dept':2,
        'age':32
    },
    {
        'fname':'Reshu',
        'lname':'Bisen',
        'dob':'22-10-1988',
        'dept':2,
        'age':32
    },
]
callectionInfo.insert_many(infoRecords)

## Find()
### find_one() by default gives first record

In [3]:
callectionInfo.find_one()

{'_id': ObjectId('61d6c0cc03ac1431d51aea7b'),
 'fname': 'Sachin',
 'lname': 'Kakade',
 'dob': '22-10-1991',
 'dept': 1,
 'age': 30}

### callectionInfo.find() OR callectionInfo.find({}) SAME AS "select * from enformetion;"

In [4]:
userList = callectionInfo.find()
for record in userList:
    print(record)

{'_id': ObjectId('61d6c0cc03ac1431d51aea7b'), 'fname': 'Sachin', 'lname': 'Kakade', 'dob': '22-10-1991', 'dept': 1, 'age': 30}
{'_id': ObjectId('61d6c0cc03ac1431d51aea7c'), 'fname': 'Omkar', 'lname': 'Potdar', 'dob': '22-10-1989', 'dept': 'UI', 'age': 31, 'experiansed': False}
{'_id': ObjectId('61d6c0cc03ac1431d51aea7d'), 'fname': 'Sagar', 'lname': 'Mahajan', 'dob': '22-10-1992', 'dept': 1, 'age': 29}
{'_id': ObjectId('61d6c0cc03ac1431d51aea7e'), 'fname': 'Kishor', 'lname': 'Shevkr', 'dob': '22-10-1990', 'dept': 3, 'age': 30}
{'_id': ObjectId('61d6c0cc03ac1431d51aea7f'), 'fname': 'Kumood', 'lname': 'Bongale', 'dob': '10-10-1998', 'dept': 2, 'age': 33, 'lastModified': datetime.datetime(2022, 1, 15, 5, 1, 17, 340000), 'experiansed': False}
{'_id': ObjectId('61d6c0cc03ac1431d51aea80'), 'fname': 'Reshu', 'lname': 'Bisen', 'dob': '22-10-1988', 'dept': 2, 'age': 32, 'experiansed': False, 'lastModified': datetime.datetime(2022, 1, 15, 5, 1, 17, 340000)}
{'_id': ObjectId('61e254f9f0a891badd4bb40d'), 'fname': 'Kumood', 'lname': 'Bongale', 'dob': '22-10-1990', 'dept': 'It', 'age': 30}
{'_id': ObjectId('623862ca1deca5731320abcf'), 'fname': 'Kumood', 'lname': 'Bongale', 'dob': '22-10-1990', 'dept': 'It', 'age': 30}

### select * from enfometion where dept = Android

In [7]:
for record in callectionInfo.find({"dept":1}):
    print(record)

{'_id': ObjectId('61d6c0cc03ac1431d51aea7b'), 'fname': 'Sachin', 'lname': 'Kakade', 'dob': '22-10-1991', 'dept': 1, 'age': 30}
{'_id': ObjectId('61d6c0cc03ac1431d51aea7d'), 'fname': 'Sagar', 'lname': 'Mahajan', 'dob': '22-10-1992', 'dept': 1, 'age': 29}

## Quairy Operetores

In [8]:
# $in
# select * info where dept in ["Android","Quality"] ; 
for record in callectionInfo.find({"dept":{"$in":[1,3]}}):
    print(record)

{'_id': ObjectId('61d6c0cc03ac1431d51aea7b'), 'fname': 'Sachin', 'lname': 'Kakade', 'dob': '22-10-1991', 'dept': 1, 'age': 30}
{'_id': ObjectId('61d6c0cc03ac1431d51aea7d'), 'fname': 'Sagar', 'lname': 'Mahajan', 'dob': '22-10-1992', 'dept': 1, 'age': 29}
{'_id': ObjectId('61d6c0cc03ac1431d51aea7e'), 'fname': 'Kishor', 'lname': 'Shevkr', 'dob': '22-10-1990', 'dept': 3, 'age': 30}

In [9]:
# AND $and
# select * info where dept = 'Android' AND age = 30; 
for record in callectionInfo.find({'$and':[{'dept':1},{'age':30}]}):
    print(record)
# ',' is AND   
#for record in callectionInfo.find({'dept':1,'age':'30'}):
#    print(record)
#for record in callectionInfo.find({'dept':{'$in':[1,2]},'age':{'$lt':'30'}}):
#    print(record)

{'_id': ObjectId('61d6c0cc03ac1431d51aea7b'), 'fname': 'Sachin', 'lname': 'Kakade', 'dob': '22-10-1991', 'dept': 1, 'age': 30}

In [10]:
# OR $or
# select * info where dept='Android' or age = '30'; 
for record in callectionInfo.find({'$or':[{'dept':1},{'age':30}]}):
    print(record)

{'_id': ObjectId('61d6c0cc03ac1431d51aea7b'), 'fname': 'Sachin', 'lname': 'Kakade', 'dob': '22-10-1991', 'dept': 1, 'age': 30}
{'_id': ObjectId('61d6c0cc03ac1431d51aea7d'), 'fname': 'Sagar', 'lname': 'Mahajan', 'dob': '22-10-1992', 'dept': 1, 'age': 29}
{'_id': ObjectId('61d6c0cc03ac1431d51aea7e'), 'fname': 'Kishor', 'lname': 'Shevkr', 'dob': '22-10-1990', 'dept': 3, 'age': 30}
{'_id': ObjectId('61e254f9f0a891badd4bb40d'), 'fname': 'Kumood', 'lname': 'Bongale', 'dob': '22-10-1990', 'dept': 'It', 'age': 30}

## Update Records
- update_one()
- update_many()
- Replace_one()

In [11]:
for record in callectionInfo.find():
    print(record)

{'_id': ObjectId('61d6c0cc03ac1431d51aea7b'), 'fname': 'Sachin', 'lname': 'Kakade', 'dob': '22-10-1991', 'dept': 1, 'age': 30}
{'_id': ObjectId('61d6c0cc03ac1431d51aea7c'), 'fname': 'Omkar', 'lname': 'Potdar', 'dob': '22-10-1989', 'dept': 'UI', 'age': 31, 'experiansed': False}
{'_id': ObjectId('61d6c0cc03ac1431d51aea7d'), 'fname': 'Sagar', 'lname': 'Mahajan', 'dob': '22-10-1992', 'dept': 1, 'age': 29}
{'_id': ObjectId('61d6c0cc03ac1431d51aea7e'), 'fname': 'Kishor', 'lname': 'Shevkr', 'dob': '22-10-1990', 'dept': 3, 'age': 30}
{'_id': ObjectId('61d6c0cc03ac1431d51aea7f'), 'fname': 'Kumood', 'lname': 'Bongale', 'dob': '10-10-1998', 'dept': 2, 'age': 33, 'lastModified': datetime.datetime(2022, 1, 6, 10, 15, 17, 788000), 'experiansed': False}
{'_id': ObjectId('61d6c0cc03ac1431d51aea80'), 'fname': 'Reshu', 'lname': 'Bisen', 'dob': '22-10-1988', 'dept': 2, 'age': 32, 'experiansed': False, 'lastModified': datetime.datetime(2022, 1, 6, 10, 15, 17, 789000)}
{'_id': ObjectId('61e254f9f0a891badd4bb40d'), 'fname': 'Kumood', 'lname': 'Bongale', 'dob': '22-10-1990', 'dept': 'It', 'age': 30}

In [12]:
callectionInfo.update_one(
    {'fname':'Kumood'},
    {'$set':{'dob':'10-10-1998','age':33},'$currentDate':{'lastModified':True}}
)

In [13]:
callectionInfo.update_many(
    {'age':{'$gt':31}},
    {'$set':{'experiansed':False},
         '$currentDate':{'lastModified':True}}
)

In [14]:
callectionInfo.replace_one(
    {'age':31},
    {'fname':'Omkar',
        'lname':'Potdar',
        'dob':'22-10-1989',
        'dept':'UI',
        'age':31,
        'experiansed':False,
    }
)

## Aggrigetion and Gruping

In [15]:
records = callectionInfo.aggregate(
    [{
        '$group' :{
            '_id':'$dept',
            'Toatal Emp':{'$sum':1}
        }
    }]
)
for record in records:
    print(record)

{'_id': 2, 'Toatal Emp': 2}
{'_id': 1, 'Toatal Emp': 2}
{'_id': 'UI', 'Toatal Emp': 1}
{'_id': 'It', 'Toatal Emp': 1}
{'_id': 3, 'Toatal Emp': 1}

In [16]:
records = callectionInfo.aggregate(
    [{
        '$group' :{
            '_id':'$dept',
            'Toatal AGE':{'$sum':'$age'}
        }
    }]
)
for record in records:
    print(record)

{'_id': 'UI', 'Toatal AGE': 31}
{'_id': 1, 'Toatal AGE': 59}
{'_id': 3, 'Toatal AGE': 30}
{'_id': 'It', 'Toatal AGE': 30}
{'_id': 2, 'Toatal AGE': 65}

In [17]:
records = callectionInfo.aggregate(
    [{
        '$group' :{
            '_id':'$dept',
            'Toatal AGE':{'$avg':'$age'}
        }
    }]
)
for record in records:
    print(record)

{'_id': 1, 'Toatal AGE': 29.5}
{'_id': 'UI', 'Toatal AGE': 31.0}
{'_id': 'It', 'Toatal AGE': 30.0}
{'_id': 2, 'Toatal AGE': 32.5}
{'_id': 3, 'Toatal AGE': 30.0}

## Jions

In [18]:
records = callectionInfo.aggregate(
    [{
        '$lockup' :{
            from:'deparment',
            localfield:'dept',
            foreignfield:'code'
        }
    }]
)
for record in records:
    print(record)

SyntaxError: invalid syntax (<ipython-input-18-3d575c844e39>, line 4)

In [5]:
import pandas as pd
userList = callectionInfo.find()
df = pd.DataFrame(userList)
df

,_id,fname,lname,dob,dept,age,experiansed,lastModified
0,61d6c0cc03ac1431d51aea7b,Sachin,Kakade,22-10-1991,1,30,NaN,NaT
1,61d6c0cc03ac1431d51aea7c,Omkar,Potdar,22-10-1989,UI,31,False,NaT
2,61d6c0cc03ac1431d51aea7d,Sagar,Mahajan,22-10-1992,1,29,NaN,NaT
3,61d6c0cc03ac1431d51aea7e,Kishor,Shevkr,22-10-1990,3,30,NaN,NaT
4,61d6c0cc03ac1431d51aea7f,Kumood,Bongale,10-10-1998,2,33,False,2022-01-15 05:01:17.340
5,61d6c0cc03ac1431d51aea80,Reshu,Bisen,22-10-1988,2,32,False,2022-01-15 05:01:17.340
6,61e254f9f0a891badd4bb40d,Kumood,Bongale,22-10-1990,It,30,NaN,NaT