In [2]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\sachin\anaconda3\lib\site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in c:\users\sachin\anaconda3\lib\site-packages (from pyspark) (0.10.9.3)

In [3]:
import pyspark

In [14]:
import pandas as pd
#df=pd.read_excel('test1.xlsx')
df_pd=pd.read_csv('test1.csv')
df_pd

     name  age
0  sachin   30
1   sagar   29
2  kumood   32
3  kishor   31

In [8]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [9]:
spark

In [20]:
df_spark = spark.read.option('header','true').csv('test1.csv')
df_spark.show()

+------+---+
|  name|age|
+------+---+
|sachin| 30|
| sagar| 29|
|kumood| 32|
|kishor| 31|
+------+---+

In [22]:
type(df_spark)

pyspark.sql.dataframe.DataFrame