#### In file We will Cover
- PySpark Dataframe 
- Reading The Dataset
- Checking the Datatypes of the Column(Schema)
- Selecting Columns And Indexing
- Check Describe option similar to Pandas
- Adding Columns
- Dropping columns
- Renaming Columns

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [4]:
df = spark.read.option('header','true').csv('test1.csv',inferSchema=True)
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- exp: integer (nullable = true)

In [5]:
df = spark.read.csv('test1.csv',header=True,inferSchema=True)
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- exp: integer (nullable = true)

In [6]:
df.show()

+------+---+---+
|  name|age|exp|
+------+---+---+
|sachin| 30|  5|
| sagar| 29|  5|
|kumood| 32| 10|
|kishor| 31|  7|
+------+---+---+

In [7]:
df.select('name').show()

+------+
|  name|
+------+
|sachin|
| sagar|
|kumood|
|kishor|
+------+

In [8]:
df.select(['name','exp']).show()

+------+---+
|  name|exp|
+------+---+
|sachin|  5|
| sagar|  5|
|kumood| 10|
|kishor|  7|
+------+---+

In [9]:
df.dtypes

[('name', 'string'), ('age', 'int'), ('exp', 'int')]

In [10]:
df.describe()

DataFrame[summary: string, name: string, age: string, exp: string]

In [11]:
df.describe().show()

+-------+------+------------------+-----------------+
|summary|  name|               age|              exp|
+-------+------+------------------+-----------------+
|  count|     4|                 4|                4|
|   mean|  null|              30.5|             6.75|
| stddev|  null|1.2909944487358058|2.362907813126304|
|    min|kishor|                29|                5|
|    max| sagar|                32|               10|
+-------+------+------------------+-----------------+

### add the columns

In [34]:
df1 = df.withColumn('exp after 2yr',df['exp']+2)
df.show()
df1.show()

+------+---+---+
|  name|age|exp|
+------+---+---+
|sachin| 30|  5|
| sagar| 29|  5|
|kumood| 32| 10|
|kishor| 31|  7|
+------+---+---+

+------+---+---+-------------+
|  name|age|exp|exp after 2yr|
+------+---+---+-------------+
|sachin| 30|  5|            7|
| sagar| 29|  5|            7|
|kumood| 32| 10|           12|
|kishor| 31|  7|            9|
+------+---+---+-------------+

In [35]:
df2 = df1.drop('exp after 2yr')
df1.show()
df2.show()

+------+---+---+-------------+
|  name|age|exp|exp after 2yr|
+------+---+---+-------------+
|sachin| 30|  5|            7|
| sagar| 29|  5|            7|
|kumood| 32| 10|           12|
|kishor| 31|  7|            9|
+------+---+---+-------------+

+------+---+---+
|  name|age|exp|
+------+---+---+
|sachin| 30|  5|
| sagar| 29|  5|
|kumood| 32| 10|
|kishor| 31|  7|
+------+---+---+

In [36]:
df1.withColumnRenamed('exp after 2yr','exp+2').show()

+------+---+---+-----+
|  name|age|exp|exp+2|
+------+---+---+-----+
|sachin| 30|  5|    7|
| sagar| 29|  5|    7|
|kumood| 32| 10|   12|
|kishor| 31|  7|    9|
+------+---+---+-----+

In [37]:
df1.withColumnRenamed('exp after 2yr','exp+2')\
.withColumnRenamed('age','Age').show()

+------+---+---+-----+
|  name|Age|exp|exp+2|
+------+---+---+-----+
|sachin| 30|  5|    7|
| sagar| 29|  5|    7|
|kumood| 32| 10|   12|
|kishor| 31|  7|    9|
+------+---+---+-----+

### add the Row

In [5]:
df.show()

+------+---+---+
|  name|age|exp|
+------+---+---+
|sachin| 30|  5|
| sagar| 29|  5|
|kumood| 32| 10|
|kishor| 31|  7|
+------+---+---+

In [ ]:
# need to import to use pyspark
from pyspark.sql import Row
 
# need to import for session creation
from pyspark.sql import SparkSession
 
# creating the session
spark = SparkSession.builder.getOrCreate()
 
# schema creation by passing list
df = spark.createDataFrame([
    Row(a=1, b=4., c='GFG1', d=date(2000, 8, 1),
        e=datetime(2000, 8, 1, 12, 0)),
   
    Row(a=2, b=8., c='GFG2', d=date(2000, 6, 2),
        e=datetime(2000, 6, 2, 12, 0)),
   
    Row(a=4, b=5., c='GFG3', d=date(2000, 5, 3),
        e=datetime(2000, 5, 3, 12, 0))
])

# PySpark DataFrame with Explicit Schema
df = spark.createDataFrame([
    (1, 4., 'GFG1', date(2000, 8, 1),
     datetime(2000, 8, 1, 12, 0)),
   
    (2, 8., 'GFG2', date(2000, 6, 2),
     datetime(2000, 6, 2, 12, 0)),
   
    (3, 5., 'GFG3', date(2000, 5, 3),
     datetime(2000, 5, 3, 12, 0))
], schema='a long, b double, c string, d date, e timestamp')


pandas_df = pd.DataFrame({
    'a': [1, 2, 3],
   
    'b': [4., 8., 5.],
   
    'c': ['GFG1', 'GFG2', 'GFG3'],
   
    'd': [date(2000, 8, 1), date(2000, 6, 2),
          date(2000, 5, 3)],
   
    'e': [datetime(2000, 8, 1, 12, 0),
          datetime(2000, 6, 2, 12, 0),
          datetime(2000, 5, 3, 12, 0)]
})
 
df = spark.createDataFrame(pandas_df)

# pyspark dataframe From RDD
rdd = spark.sparkContext.parallelize([
    (1, 4., 'GFG1', date(2000, 8, 1), datetime(2000, 8, 1, 12, 0)),
    (2, 8., 'GFG2', date(2000, 6, 2), datetime(2000, 6, 2, 12, 0)),
    (3, 5., 'GFG3', date(2000, 5, 3), datetime(2000, 5, 3, 12, 0))
])
df = spark.createDataFrame(rdd, schema=['a', 'b', 'c', 'd', 'e'])