### Pyspark ML

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Preactice').getOrCreate()

In [4]:
df = spark.read.csv('test2.csv',header=True, inferSchema=True)
df.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [5]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [25]:
df1=df.dropna()

In [26]:
df1.columns

['Name', 'age', 'Experience', 'Salary']

In [14]:
from pyspark.ml.feature import VectorAssembler
feture_assembler = VectorAssembler(inputCols=['age','Experience'],outputCol='Independent Feture')

In [27]:
output = feture_assembler.transform(df1)

In [29]:
output.show()

+---------+---+----------+------+------------------+
|     Name|age|Experience|Salary|Independent Feture|
+---------+---+----------+------+------------------+
|    Krish| 31|        10| 30000|       [31.0,10.0]|
|Sudhanshu| 30|         8| 25000|        [30.0,8.0]|
|    Sunny| 29|         4| 20000|        [29.0,4.0]|
|     Paul| 24|         3| 20000|        [24.0,3.0]|
|   Harsha| 21|         1| 15000|        [21.0,1.0]|
|  Shubham| 23|         2| 18000|        [23.0,2.0]|
+---------+---+----------+------+------------------+

In [31]:
output.columns

['Name', 'age', 'Experience', 'Salary', 'Independent Feture']

In [36]:
finalDF = output.select('Independent Feture', 'Salary')
finalDF.show()

+------------------+------+
|Independent Feture|Salary|
+------------------+------+
|       [31.0,10.0]| 30000|
|        [30.0,8.0]| 25000|
|        [29.0,4.0]| 20000|
|        [24.0,3.0]| 20000|
|        [21.0,1.0]| 15000|
|        [23.0,2.0]| 18000|
+------------------+------+

In [44]:
from pyspark.ml.regression import LinearRegression
# train test splite
train_data,test_data = finalDF.randomSplit([0.75,0.25])
linear = LinearRegression(featuresCol='Independent Feture',labelCol='Salary')
model = linear.fit(train_data)

In [45]:
model.coefficients

DenseVector([736.8421, 736.8421])

In [46]:
model.intercept

-175.43859649151398

In [49]:
test_data.show()

+------------------+------+
|Independent Feture|Salary|
+------------------+------+
|        [21.0,1.0]| 15000|
|        [29.0,4.0]| 20000|
|        [30.0,8.0]| 25000|
+------------------+------+

In [47]:
train_data.show()

+------------------+------+
|Independent Feture|Salary|
+------------------+------+
|        [23.0,2.0]| 18000|
|        [24.0,3.0]| 20000|
|       [31.0,10.0]| 30000|
+------------------+------+

In [48]:
preditions = model.evaluate(test_data)

In [50]:
preditions.predictions.show()

+------------------+------+------------------+
|Independent Feture|Salary|        prediction|
+------------------+------+------------------+
|        [21.0,1.0]| 15000|16035.087719298195|
|        [29.0,4.0]| 20000| 24140.35087719302|
|        [30.0,8.0]| 25000| 27824.56140350881|
+------------------+------+------------------+

C:\Users\sachin\anaconda3\lib\site-packages\pyspark\sql\context.py:125: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(