In [3]:
def add():
    x=int(input("Enter the number:"))
    y=int(input("Enter the second number:"))
    print(x+y)

In [4]:
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
add()
print("welcome")
print("bye")
print("Hello")
add()

hello
hello
hello
hello
hello
Enter the number:10
Enter the second number:20
30
welcome
bye
Hello
Enter the number:40
Enter the second number:50
90

In [ ]:
def function_name(arguments/parameters):# formal arguments
    body
    return parameters

In [ ]:
function_name(arguements) #actual agruments

In [ ]:
#4 types
No arguments and No return values
With arguments and No return values
With arguments and with return values
No arguments and with return values

In [5]:
def add():
    x=int(input("Enter the number:"))
    y=int(input("Enter the second number:"))
    print(x+y)

In [7]:
add()

Enter the number:20
Enter the second number:3
23

In [8]:
#With arguments and No return values

In [9]:
def add(x,y):
    print(x+y)

In [10]:
add(30,50)

80

In [12]:
def add(x,y):
    z = x+y
    return z

In [13]:
result = add(40,60)

In [14]:
result

100

In [15]:
#No arguments and with return values

In [16]:
def add():
    x=int(input("enter the value:"))
    y=int(input("enter the value:"))
    return x+y

In [17]:
p = add()

enter the value:10
enter the value:40

In [18]:
p

50

In [21]:
#Operation
1.add
2.sub
3.div
4.mul

In [22]:
#Typs of arguments

In [ ]:
1.Positional arguments
2.default arguments
3.variable length arguements
4.keyword arguments
5.variable length keyword arguments

In [23]:
# positional arguemnts

In [24]:
def emp(id,name,address):
    print("id:",id)
    print("name:",name)
    print("address:",address)

In [25]:
emp(101,'Jon','pune')

id: 101
name: Jon
address: pune

In [26]:
emp('mumbai',134,'justin')

id: mumbai
name: 134
address: justin

In [31]:
def emp(id,name,address,canteen='no'):
    print("id:",id)
    print("name:",name)
    print("address:",address)
    print("Canteen:",canteen)

In [32]:
emp(101,'justin','Banglore')

id: 101
name: justin
address: Banglore
Canteen: no

In [36]:
def student(name,age,aadhar='no data present'):
    print(name)
    print(age)
    print(aadhar)

In [37]:
student('kartik',25)

kartik
25
no data present

In [72]:
def add(a=0,b=0,c=0):
    print(a+b+c)

In [73]:
add(10,40,90)

140

In [76]:
add(10,80)

90

In [88]:
def temp(name,age):
    age_str=str(age)
    print(name+age_str)

In [89]:
name = input("Enter the name")
age = int(input("Enter the age:"))
temp(name,age)

Enter the namekk
Enter the age:45
kk45

In [71]:
function
agruments
return
positional
default

In [90]:
#varibale length aruments

In [99]:
def temp(*args):
    print("*"*50)
    print(args)
    print("*"*50)

In [100]:
temp('jon',25)

**************************************************
('jon', 25)
**************************************************

In [101]:
temp('justin',25,'pune',45000,'IT')

**************************************************
('justin', 25, 'pune', 45000, 'IT')
**************************************************

In [ ]:
# input 
name,age,sal
function pass 
if sal > 45000
and age > 45 then give 5 % bonus
sal<45 and age 45 and 35 se above then 10 % 
2 %

In [104]:
def show1():
    print("in show1")
    age = int(input("Enter the age:"))
    show2(age)
def show2(age):
    if age>50:
        print("Hi")
    else:
        print("bye")

In [105]:
show1()

in show1
Enter the age:56

In [106]:
show2(56)

Hi

In [107]:
#keyword agruments

In [117]:
def details(name,age,aadhar,address=None):
    print('name:',name)
    print('age:',age)
    print('aadhar:',aadhar)
    print('address:',address)

In [118]:
details('jon',35,9835935,'pune')

name: jon
age: 35
aadhar: 9835935
address: pune

In [119]:
details(name='jusin',age=45,aadhar=35355,address='mumbai')

name: jusin
age: 45
aadhar: 35355
address: mumbai

In [120]:
details(address='Pune',name='Akash',aadhar=462527,age=25)

name: Akash
age: 25
aadhar: 462527
address: Pune

In [121]:
details(name='Akash',aadhar=462527,age=25)

name: Akash
age: 25
aadhar: 462527
address: None

In [122]:
import pandas as pd

In [123]:
df = pd.read_csv('advertising.csv')

In [125]:
df.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [129]:
df['temp']= df['TV'].apply(lambda x:str(x)+',temp')

In [131]:
df['firstname'] = df['temp'].apply(lambda x:x.split(','))

In [134]:
df.drop('firstname',axis=1,inplace=True)

In [136]:
df['firstname'] = df['temp'].apply(lambda x:x.split(',')[0])

In [138]:
df['lastname'] = df['temp'].apply(lambda x:x.split(',')[1])

In [139]:
df

        TV  Radio  Newspaper  Sales        temp firstname lastname
0    230.1   37.8       69.2   22.1  230.1,temp     230.1     temp
1     44.5   39.3       45.1   10.4   44.5,temp      44.5     temp
2     17.2   45.9       69.3   12.0   17.2,temp      17.2     temp
3    151.5   41.3       58.5   16.5  151.5,temp     151.5     temp
4    180.8   10.8       58.4   17.9  180.8,temp     180.8     temp
..     ...    ...        ...    ...         ...       ...      ...
195   38.2    3.7       13.8    7.6   38.2,temp      38.2     temp
196   94.2    4.9        8.1   14.0   94.2,temp      94.2     temp
197  177.0    9.3        6.4   14.8  177.0,temp     177.0     temp
198  283.6   42.0       66.2   25.5  283.6,temp     283.6     temp
199  232.1    8.6        8.7   18.4  232.1,temp     232.1     temp

[200 rows x 7 columns]

In [1]:
def vaccination_status(aadhar,dose,status):
    print('aadhar:',aadhar)
    print('dose:',dose)
    print('status:',status)

In [2]:
vaccination_status(24253535365,'first','partially')

aadhar: 24253535365
dose: first
status: partially

In [3]:
def vaccination_status(aadhar,dose='Not taken',status='No status avilable'):
    print('aadhar:',aadhar)
    print('dose:',dose)
    print('status:',status)

In [4]:
vaccination_status(2324325325)

aadhar: 2324325325
dose: Not taken
status: No status avilable

In [5]:
vaccination_status(35353535634,'first')

aadhar: 35353535634
dose: first
status: No status avilable

In [7]:
def vaccination_status(*s):
    print(s)

In [8]:
vaccination_status(24434235235,'second','completed')

(24434235235, 'second', 'completed')

In [9]:
def vaccination_status(aadhar,dose,status):
    print(aadhar,dose,status)

In [10]:
vaccination_status(dose='second',status='completed',aadhar=2424242)

2424242 second completed

In [11]:
#Variable length keyword arguments

In [12]:
def details(**kwargs):
    print(kwargs)

In [15]:
details(name='jon')

{'name': 'jon'}

In [17]:
def m1(no):
    print(no)
def m2():
    print("in m2")
def m3():
    print("in m3")

In [18]:
m3()
m1()
m2()

in m3

TypeError: m1() missing 1 required positional argument: 'no'

In [19]:
def m1():
    def m2():
        print("in m2")
    print("Hi")
    return "bye"

In [20]:
def f1():
    print('1')
    def f2():
        print("2")

In [21]:
f1()

1

In [22]:
result = m1()

Hi

In [23]:
result

'bye'

In [28]:
def calcultaion(no1,no2):
    add_result = add(no1,no2)
    sub_result = sub(no1,no2)
    mul_result = mul(no1,no2)
    return add_result,sub_result,mul_result

In [29]:
def add(no1,no2):
    return no1+no2

In [30]:
def sub(no1,no2):
    return no1-no2

In [31]:
def mul(no1,no2):
    return no1*no2

In [36]:
a= calcultaion(10,30)

In [37]:
a

(40, -20, 300)

In [34]:
b

-20

In [35]:
c

300

In [38]:
def demo():
    return 'a','b','c','d'

In [39]:
t = demo()

In [40]:
t

('a', 'b', 'c', 'd')